.Homepage {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100vw;

  background: url(https://media2.giphy.com/media/l3q2xUJm5Uhf4kNC8/giphy.gif)
    no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

h1 {
  color: burlywood;
  font-family: Impact;
  font-size: 100px;
}
